
# directories (by name)

.svn/

_internal/

bin/
ipch/
lib/

include/shwild/
include/xcontract/
include/xcover/
include/xtests/

src/shwild/
src/xcontract/
src/xcover/
src/xtests/

Debug/
DebugMt/
DebugDll/
DebugUnix/
Release/
ReleaseMt/
ReleaseDll/
ReleaseUnix/

x64/
Win32/

vc9/

# directories (by pattern)

# files (by name)

.svnignore
.svnignore-at-root

sh.exe.stackdump

clasp.vc9.sln

sh.exe.stackdump

# files (by pattern)

*~
*.a
*.app
*.aps
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.???_obj
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.rar
*.scc
*.sbr
*.sdf
*.so
*.suo
*.vcproj.user
*.vcxproj.user
*.zip

